@import 'https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@500&display=swap';
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;

}

body {
	background:#191721;
    cursor: url(../step/cursor-png-1104.png), default;
	font-family: 'ABeeZee';
	color: #ad44f833;
	background-image: url(https://i.pinimg.com/originals/45/e6/b8/45e6b85207aa4af2f8dbd3b76c0525e0.gif);
	background-size: cover;
	background-position: top center;
	position: relative;
	z-index: 1;

}
::-webkit-scrollbar {
	width: 5px;
  }

  ::-webkit-scrollbar-track {
	background: transparent;
	border-radius: 0px;
  }

  ::-webkit-scrollbar-thumb {
	background: #9c32ff;
	border-radius: 0px;
  }
html {
	font-size: 10px;
	font-family: 'Courier New', monospace;
	scroll-behavior: smooth;
}
a {
	text-decoration: none;
}
.container {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}
p {
	color: white;
	font-size: 1.4rem;
	margin-top: 5px;
	line-height: 2.5rem;
	font-weight: 300;
	letter-spacing: .05rem;
}
.cta {
	display: inline-block;
	font-size: 15px;
	font-family: 'ABeeZee';
    padding: 20px 60px;
	color: white;
	text-transform: uppercase;
	transition: transform 0.5s ease;
	margin-top: 30px;
       border-radius:5px;    
	background-color:#4600886e;
}
.cta:hover {
  color: white;
  border-radius: 0px;
  font-family: 'ABeeZee';
  background-color:d34d00c0;
  transition: 1s ease;
  opacity: 0.1;
  cursor: not-allowed;
	transition-property: background-color, color;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 0;
    right: 0;
	z-index: 1;
	opacity: 0.40;
    border: none;
    outline: none;
    background-color: #ad44f833;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 1px;
    font-size: 15px;
  }

  #myBtn:hover {
    background-color: rgb(70, 70, 70);
	opacity: 0.90;
  }
.brand h1 {
	font-size: 3rem;
	text-transform: uppercase;
	color: white;
}
.brand h1 span {
	color:  #460088;
}
#myVideo {
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
  }
/* Header */
#header {
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100vw;
	height: auto;
}
#header .header {
	min-height: 8vh;
	background-color: transparent;
	transition: .3s ease background-color;
}
#header .nav-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	max-width: 1300px;
	padding: 0 10px;
}
#header .nav-list ul {
	list-style: none;
	position: absolute;
	background-color: transparent;
	width: 100vw;
	height: 100vh;
	left: 100%;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1;
	overflow-x: hidden;
	transition: .5s ease left;
}
#header .nav-list ul.active {
	left: 0%;
}
#header .nav-list ul a {
	font-size: 2.5rem;
	font-weight: 500;
	letter-spacing: .2rem;
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	padding: 20px;
	display: block;
}
#header .nav-list ul a::after {
	content: attr(data-after);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	color: rgba(240, 248, 255, 0.021);
	font-size: 13rem;
	letter-spacing: 50px;
	z-index: -1;
	transition: .3s ease letter-spacing;
}
#header .nav-list ul li:hover a::after {
	transform: translate(-50%, -50%) scale(1);
	letter-spacing: initial;
}
#header .nav-list ul li:hover a {
	color: #9c32ff;
}
#header .hamburger {
	height: 60px;
	width: 60px;
	display: inline-block;
	border: 3px solid white;
	border-radius: 0%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100;
	cursor: pointer;
	transform: scale(.8);
	margin-right: 20px;
}
#header .hamburger:after {
	position: absolute;
	content: '';
	height: 100%;
	width: 100%;
	border-radius: 0%;
	border: 3px solid #9c32ff;
	animation: hamburger_puls 1s ease infinite;
}
#header .hamburger .bar {
	height: 2px;
	width: 30px;
	position: relative;
	background-color: white;
	z-index: -1;
}
#header .hamburger .bar::after,
#header .hamburger .bar::before {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	background-color: white;
	transition: .3s ease;
	transition-property: top, bottom;
}
#header .hamburger .bar::after {
	top: 8px;
}
#header .hamburger .bar::before {
	bottom: 8px;
}
#header .hamburger.active .bar::before {
	bottom: 0;
}
#header .hamburger.active .bar::after {
	top: 0;
}
  /* End Header */
/* Hero Section */
#hero::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	opacity: .7;
	z-index: -1;
}
#hero .hero {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 50px;
	justify-content: flex-start;
}
#hero h1 {
	display: block;
	width: fit-content;
	font-size: 8rem;
	position: relative;
	color: transparent;
	animation: text_reveal .5s ease forwards;
	animation-delay: 1s;
}
#hero h1:nth-child(1) {
	animation-delay: 1s;
}
#hero h1:nth-child(2) {
	animation-delay: 2s;
}
#hero h1:nth-child(3) {
	animation: text_reveal_name .3s ease forwards;
	animation-delay: 3s;
}
#hero h1 span {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 0;
	background-color: #460088c9;
	animation: text_reveal_box 2.5s ease;
	opacity: .60;
	animation-delay: 1.5s;
}
#hero h1:nth-child(1) span {
	animation-delay: .5s;
}
#hero h1:nth-child(2) span {
	animation-delay: 1.5s;
}
#hero h1:nth-child(3) span {
	animation-delay: 2.5s;
}

#footer {
    background-image: linear-gradient(110deg, #000000 100%,#000000 50%);
    height: 1px;

}
#footer .footer {
	min-height: 100px;
	flex-direction: column;
	padding-top: 30px;
	padding-bottom: 10px;
}
#footer h2 {
	color: white;
	font-weight: 300;
	font-size: 1.8rem;
	letter-spacing: .1rem;
	margin-top: 10px;
	margin-bottom: 10px;
}
#footer .social-icon {
	display: flex;
	margin-bottom: 30px;
}
#footer .social-item {
	height: 45px;
	width: 50px;
	margin: 0 5px;
}
#footer .social-item img {
	filter: grayscale(1);
	transition: .3s ease filter;
}
#footer .social-item:hover img {
	filter: grayscale(0);
}
#footer p {
	color: white;
	font-size: 10px;
}
